<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Tu App Farmacia desea utilizar su cámara para obtener el código de barras de aquellos productos que desea buscar. Su información no será compartida sin su autorización.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Tu App Farmacia desea utilizar su micrófono para buscar productos mediante reconocimiento de voz. Su información no será guardada. Es seguro</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Tu App Farmacia desea utilizar el reconocimiento de voz para buscar los productos que desee de una manera sencilla. Su información no será guardada. Es seguro.</string>
	<key>NSSiriUsageDescription</key>
	<string>Tu App Farmacia desea utilizar Siri para buscar productos mediante reconocimiento de voz. Su información no será guardada. Es seguro.</string>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>CFBundleDisplayName</key>
	<string>Tu App Farmacia</string>
	<key>CFBundleVersion</key>
	<string>1.79</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Tu App Farmacia desea utilizar su ubicación actual para mostrarla en la aplicación, también para obtener farmacias cercanas y estimar los tiempos de viaje. Es seguro y privado.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Tu App Farmacia desea utilizar su ubicación actual para mostrarla en la aplicación, también para obtener farmacias cercanas y estimar los tiempos de viaje. Es seguro y privado.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Tu App Farmacia desea utilizar su ubicación actual para mostrarla en la aplicación, también para obtener farmacias cercanas y estimar los tiempos de viaje. Es seguro y privado.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Tu App Farmacia desea utilizar su calendario para planificar las visitas a nuestras farmacias con el fin de separar su turno. Esta infomación no será compartida.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleIconName</key>
	<string>iTunesArtworkIcon</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon-60@2x</string>
				<string>Icon-60@3x</string>
				<string>Icon-76</string>
				<string>Icon-76@2x</string>
				<string>Default</string>
				<string>Icon-Small-40</string>
				<string>Icon-Small-40@2x</string>
				<string>Icon-Small-40@3x</string>
				<string>Icon-Small</string>
				<string>Icon-Small@2x</string>
				<string>Icon-Small@3x</string>
				<string>Icon-83.5@2x</string>
			</array>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleIdentifier</key>
	<string>com.TandiCorp.TuAppFarmacia</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>es</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>XSAppIconAssets</key>
	<string>Resources/Media.xcassets/AppIcons.appiconset</string>
</dict>
</plist>
